.content {
  font-size: 12px;
  font-family: Menlo, sans-serif;
  padding: 2px;
  background-color: white;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
  code {
    font-family: Menlo, sans-serif;
    font-size: 11px;
  }
}
