.content {
  margin-bottom: 30px;
  h3 {
    text-transform: uppercase;
    font-weight: bolder;
  }
  h5 {
    text-transform: uppercase;
    padding-top: 10px;
    color: #6024FC;
  }
  > div {
    padding-top: 5px;
  }
}
