.content {
  margin-bottom: 20px;
  h3 {
    text-transform: uppercase;
    font-weight: bolder;
    padding-bottom: 10px;
  }
  h5 {
    text-transform: uppercase;
    color: #6024FC;
  }
  > div {
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
