.content {
  margin-bottom: 5px;

  div {
    padding-bottom: 2px;
  }
  input {
    padding: 7px;
    border-width: 0;
  }
  input[type="number"] {
    width: 100px;
  }
  input[type="text"] {
    width: 400px;
  }
}
