.content {
  margin-bottom: 5px;

  div {
    padding-bottom: 4px;
  }
  input {
    padding: 7px;
    border-width: 0;
  }
  input[type="number"] {
    width: 100px;
  }
  input[type="text"] {
    width: 400px;
  }
  input[readonly] {
    color: #6c6c6c !important;
    background-color: #d9bc5e;
  }
}
