.content {
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background-color: black;
  color: white;

  .wrapper {
    width: 220px;
    padding: 15px;

    h4 {
      padding-bottom: 2px;
      color: #a673ff;
    }

    & > div {
      padding-bottom: 15px;

      &:last-child {
        padding-bottom: 0;
      }

      div {
        &.close {
          display: none;
        }

        button {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 220px;
          text-align: left;
          padding: 0;
          border-width: 0;
          background-color: transparent;
          cursor: pointer;
          line-height: 22px;
          position: relative;
          color: white;

          &.off {
            color: #818181 !important;
          }

          &:hover,
          &.active {
            color: #F3CF48;
            font-weight: bold;
          }
        }
      }
    }
  }
}
