.content {
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background-color: black;
  color: white;

  .spacer,
  .options{
    margin-top: 15px;
  }
  .options {
    & > div {
      margin: 5px 0;
    }
  }

  .checkbox {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-left: 30px;
    cursor: pointer;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: transparent;
      border-radius: 8px;
      border: 2px solid #cf9eff;
      transform: rotate(-90deg);
      transition: all 0.3s;
    }

    .icon {
      color: white;
      display: none;
    }

    input:checked ~ .overlay {
      background-color: #cf9eff;
      border-radius: 8px;
      transform: rotate(0deg);
      opacity: 1;
      border: 2px solid #cf9eff;
    }

    input:checked ~ .overlay .icon {
      display: block;
    }
  }

  .wrapper {
    width: 220px;
    padding: 15px;
    padding-bottom: 45px;

    h4 {
      padding-bottom: 2px;
      color: #a673ff;

      &.link {
        cursor: pointer;
        &:hover {
          color: #cf9eff;
        }
      }
    }

    & > div {
      padding-bottom: 15px;

      &:last-child {
        padding-bottom: 0;
      }

      div {
        &.close {
          display: none;
        }

        a {
          text-decoration: none;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 220px;
          text-align: left;
          padding: 0;
          border-width: 0;
          background-color: transparent;
          cursor: pointer;
          line-height: 22px;
          position: relative;
          color: white;

          &.off {
            opacity: 0.6;
          }

          &:hover,
          &.active {
            color: #F3CF48;
            font-weight: bold;
          }
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    text-align: center;
    line-height: 45px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10px;
    color: #696969;

    a {
      color: #696969;
      text-decoration: none;
    }
  }
}
