.content {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: white;
  padding: 15px;
  z-index: 10;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
  min-width: 250px;

  h1 {
    font-size: 14px;
    color: #6024FC;
  }

  h1, h2, h3, h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
  }
}
