.content {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 50px;
  min-width: 1200px;
  font-size: 9px;
  padding: 0 15px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #6024FC;

  > div {
    flex-direction: column;
    margin-right: 20px;

    .label {
      font-weight: bold;
      color: #cd9eff;
      padding-bottom: 2px;
      text-transform: uppercase;
    }
  }
}
